@import "fonts";


body {
    background-color: #000;
    font-weight: 700;
    font-size: 30px;
    font-family: Sunday;
    span {color: rgb(240, 59, 59);}
}

@media (max-width: 768px) {
    span {font-size: 20px;}

}



@media (max-width: 768px) {
    body {
        background-color: green;
    }

}